@charset "UTF-8";
/* --------------- reset.css --------------- */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; /* обнуляем отступы и убираем бордюры */
  vertical-align: baseline; /* приводим все к одной базовой линии */
  background: transparent; /* чтобы не проскакивали левые фоны, установленные по умолчанию */
  font-size: 100%; /* размер шрифта всем одинаковый */
}

a {
  /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

table {
  /* устраняем отступы между ячейками таблицы */
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top; /* возвращаем привычное вертикальное выравнивание */
}

input,
select,
button,
textarea {
  margin: 0; /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
  font-size: 100%; /* делаем размер шрифтов везде одинаковым */
  outline: none;
}

input[type=text],
input[type=password],
textarea {
  padding: 0; /* убираем внутренние отступы для текстовых полей */
}

input[type=checkbox] {
  /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
  vertical-align: bottom;
}

input[type=radio] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

main {
  position: relative;
}

/* --------------- /reset.css --------------- */
/* --------------- базовые настройки ---------*/
html {
  min-height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}

body {
  color: #fff;
  text-align: left;
  font-size: 1rem; /* используем безопасные шрифтовые CSS стеки */
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.15rem;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

.clr {
  clear: both;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #bf0000;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e2e2;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
}

/* --------------- /базовые настройки ---------*/
header {
  position: relative;
  z-index: 6;
  top: 0;
}
header nav {
  background-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .burger img {
  display: none;
  width: 2rem;
  height: 2rem;
}
header nav .burger ul {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  padding-top: 1rem;
}
header nav .burger ul li {
  padding-bottom: 0.5rem;
}
header nav .sety {
  display: flex;
}
header nav .sety .vk {
  background-image: url(../images/vk-white.png);
  background-size: cover;
  transition: all 0.5s;
  margin-left: 9rem;
}
header nav .sety .vk:hover {
  background-image: url(../images/vk-y.png);
  background-size: cover;
  transition: all 0.5s;
}
header nav .sety .instagram {
  background-image: url(../images/instagram-white.png);
  background-size: cover;
  transition: all 0.5s;
  margin-left: 1rem;
}
header nav .sety .instagram:hover {
  background-image: url(../images/instagram-y.png);
  background-size: cover;
  transition: all 0.5s;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  justify-content: center;
}
header nav ul li {
  padding: 0 1rem;
}
header nav ul li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Rubik Dirt", cursive;
}
header nav ul li a:hover {
  color: #ffd400;
  transition: all 0.5s;
}
header nav .button {
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Rubik Dirt", cursive;
  margin-right: 2rem;
  box-sizing: border-box;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
header nav .button:hover {
  background-color: #ffd400;
  border: 3px solid #ffd400;
  color: #000;
  transition: all 0.5s;
}

.slide {
  height: 100vh;
}

.slide1 {
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  position: relative;
  top: 0;
}
.slide1 .back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.logo img {
  width: 500px;
}
.logo p {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2rem;
}
.logo h1 {
  font-size: 1.5rem;
  font-family: "Rubik Dirt", cursive;
  color: #ffd400;
  margin-top: 2rem;
}

.scroll {
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 3rem;
  transition: all 0.5s;
}
.scroll img {
  padding-top: 0.5rem;
  width: 70px;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.scroll:hover {
  color: #ffd400;
  transition: all 0.5s;
}

.slide2 {
  background-image: url(../images/bg2.jpeg);
  background-size: cover;
  z-index: 10;
  position: relative;
}
.slide2 .back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.slide2 .slide-barbers {
  opacity: 0;
  transition: opacity 2s;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 12;
  left: 0;
  right: 0;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.slide2 .slide-barbers h1 {
  font-size: 2rem;
  font-family: "Rubik Dirt", cursive;
}
.slide2 .slide-barbers label {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
.slide2 .slide-barbers .barbers {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}
.slide2 .slide-barbers .barbers .barber {
  text-align: center;
  position: relative;
}
.slide2 .slide-barbers .barbers .barber .card1,
.slide2 .slide-barbers .barbers .barber .card2,
.slide2 .slide-barbers .barbers .barber .card3,
.slide2 .slide-barbers .barbers .barber .card4 {
  height: 60vh;
  width: 20vw;
  perspective: 1000px;
}
.slide2 .slide-barbers .barbers .barber .flip-card-container1,
.slide2 .slide-barbers .barbers .barber .flip-card-container2,
.slide2 .slide-barbers .barbers .barber .flip-card-container3,
.slide2 .slide-barbers .barbers .barber .flip-card-container4 {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.slide2 .slide-barbers .barbers .barber .front {
  position: absolute;
  backface-visibility: hidden;
}
.slide2 .slide-barbers .barbers .barber .front img {
  box-sizing: border-box;
  border: 3px solid #ffd400;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide2 .slide-barbers .barbers .barber .back-card {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.slide2 .slide-barbers .barbers .barber .back-card img {
  box-sizing: border-box;
  border: 3px solid #ffd400;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide2 .slide-barbers .barbers .barber .back-card .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.slide2 .slide-barbers .barbers .barber .back-card .text p {
  margin-bottom: 0.5rem;
}
.slide2 .slide-barbers .barbers .barber .back-card .text .zag {
  font-size: 1.5rem;
  text-decoration: underline;
}
.slide2 .slide-barbers .barbers .barber .flip-card {
  transform: rotateY(180deg);
}
.slide2 .slide-barbers .barbers .barber .title {
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Rubik Dirt", cursive;
  width: 80%;
  margin: 1rem auto;
}
.slide2 .slide-barbers .barbers .barber .title span {
  display: inline-block;
  vertical-align: middle;
}
.slide2 .slide-barbers .barbers .barber .title:before,
.slide2 .slide-barbers .barbers .barber .title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  background-color: #ffd400;
  position: relative;
}
.slide2 .slide-barbers .barbers .barber .title:before {
  margin-left: -100%;
  left: -14px;
}
.slide2 .slide-barbers .barbers .barber .title:after {
  margin-right: -100%;
  right: -14px;
}
.slide2 .slide-barbers.element-show {
  opacity: 1;
  transition: opacity 2s;
}

.slide3 {
  position: relative;
  z-index: 15;
  background-color: #252322;
  background-image: linear-gradient(25deg, transparent 65%, #2e2d2d, transparent 70%), linear-gradient(-25deg, transparent 65%, #2e2d2d, transparent 70%), linear-gradient(-25deg, transparent 30%, #2e2d2d, transparent 35%), linear-gradient(25deg, transparent 30%, #2e2d2d, transparent 35%), linear-gradient(65deg, transparent 65%, #2e2d2d, transparent 70%), linear-gradient(-65deg, transparent 65%, #2e2d2d, transparent 70%), linear-gradient(-65deg, transparent 30%, #2e2d2d, transparent 35%), linear-gradient(65deg, transparent 30%, #2e2d2d, transparent 35%);
  background-size: 10em 4em, 10em 4em, 10em 4em, 10em 4em, 4em 10em, 4em 10em, 4em 10em, 4em 10em;
}
.slide3 .price {
  opacity: 0;
  transition: opacity 2s;
  max-width: 70vw;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.slide3 .price h1 {
  font-size: 2rem;
  font-family: "Rubik Dirt", cursive;
  color: #ffd400;
}
.slide3 .price table {
  border-collapse: collapse;
  border-radius: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 3px solid #ffd400;
  display: block;
}
.slide3 .price table tr:nth-child(even) {
  background: rgba(255, 212, 0, 0.5);
}
.slide3 .price table th {
  color: #ffd400;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-align: right;
}
.slide3 .price table th:first-child {
  text-align: left;
  padding-left: 0.5rem;
}
.slide3 .price table td {
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: right;
}
.slide3 .price table td:first-child {
  text-align: left;
}
.slide3 .price .button {
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Rubik Dirt", cursive;
  box-sizing: border-box;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #fff;
}
.slide3 .price .button:hover {
  background-color: #ffd400;
  border: 3px solid #ffd400;
  color: #000;
  transition: all 0.5s;
}
.slide3 .price.element-show {
  opacity: 1;
  transition: opacity 2s;
}

.slide4 {
  position: relative;
  background-color: #252322;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.slide4 .logo2 {
  width: 300px;
  margin-bottom: 1rem;
}
.slide4 .sety img {
  width: 40px;
  height: 40px;
}
.slide4 nav ul {
  display: flex;
  list-style: none;
  width: 1080px;
  margin: 0 auto;
  justify-content: center;
}
.slide4 nav ul li {
  padding: 0 1rem;
}
.slide4 nav ul li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Rubik Dirt", cursive;
}
.slide4 nav ul li a:hover {
  color: #ffd400;
  transition: all 0.5s;
}
.slide4 .info {
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ffd400;
}
.slide4 .info img {
  width: 40px;
  height: 40px;
  margin: 1rem;
}

.fix-it {
  position: sticky;
  top: 0;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url(../images/totop.png) no-repeat left top;
  background-size: cover;
  z-index: 60;
}

#toTopHover {
  background: url(../images/totop.png) no-repeat left -51px;
  background-size: cover;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 80;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  background-color: #252322;
  right: 0;
  height: 100%;
  z-index: 85;
  width: 500px;
  padding: 1rem;
  border-left: 18px solid #ffd400;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #adb5bd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* скроет иконку стрелки в IE */
}
.modal-content .df {
  padding-top: 2rem;
  font-size: 1.2rem;
  width: 80%;
}
.modal-content p {
  padding-top: 2rem;
  font-size: 1.2rem;
  width: 80%;
  color: #ffd400;
}
.modal-content h1 {
  font-size: 2rem;
  color: #ffd400;
  font-family: "Rubik Dirt", cursive;
}
.modal-content .input {
  width: 80%;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffd400;
  color: #adb5bd;
  font-family: "Rubik", sans-serif;
}
.modal-content .input:hover,
.modal-content .input:focus {
  background-color: rgba(255, 212, 0, 0.2);
  transition: all 0.2s;
}
.modal-content .radio {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  /* стили для активной радиокнопки (при нажатии на неё) */
  /* стили для радиокнопки, находящейся в фокусе */
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии disabled */
}
.modal-content .radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}
.modal-content .radio input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modal-content .radio input + label::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}
.modal-content .radio input:not(:disabled):not(:checked) + label:hover::before {
  border-color: rgba(255, 213, 0, 0.4784313725);
}
.modal-content .radio input:not(:disabled):active + label::before {
  background-color: rgba(255, 213, 0, 0.4784313725);
  border-color: rgba(255, 213, 0, 0.4784313725);
}
.modal-content .radio input:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
}
.modal-content .radio input:focus:not(:checked) + label::before {
  border-color: rgba(255, 213, 0, 0.4784313725);
}
.modal-content .radio input:checked + label::before {
  border-color: #ffd400;
  background-color: #ffd400;
  background-image: url(../images/check.png);
}
.modal-content .radio input:disabled + label::before {
  background-color: #e9ecef;
}
.modal-content .close {
  position: absolute;
  color: #adb5bd;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.modal-content .close:hover,
.modal-content .close:focus {
  color: #ffd400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.modal-content select {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #adb5bd;
  margin-top: 1rem;
  text-align: center;
  color: #adb5bd;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.5rem;
  font-family: "Rubik", sans-serif;
  transition: all 0.2s;
}
.modal-content select option {
  background: #adb5bd;
  color: #2e2d2d;
}
.modal-content select option:hover {
  background: #ffd400;
  color: #adb5bd;
}
.modal-content select:hover,
.modal-content select:focus {
  background-color: rgba(255, 212, 0, 0.2);
  border-bottom: 2px solid #ffd400;
  transition: all 0.2s;
}
.modal-content select:not([multiple]) {
  padding-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.4rem) center;
  background-size: 1rem auto;
  background-image: url(../images/arow.png);
  transition: all 0.2s;
}
.modal-content select:not([multiple]):hover {
  background-image: url(../images/arow-black.png);
  transition: all 0.2s;
}
.modal-content select::-ms-expand {
  display: none;
}
.modal-content .button-modal {
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Rubik Dirt", cursive;
  margin-top: 2rem;
  box-sizing: border-box;
  border: 2px solid #adb5bd;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #adb5bd;
  cursor: pointer;
}
.modal-content .button-modal:hover {
  background-color: #ffd400;
  border: 2px solid #ffd400;
  color: #000;
  transition: all 0.5s;
}
@keyframes animatetop {
  from {
    right: -500px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 1180px) {
  header {
    top: 0;
  }
  header nav {
    height: 5rem;
  }
  header nav .vk {
    margin-left: 1rem;
  }
  header nav ul li {
    padding: 0 0.5rem;
  }
  header nav ul li a {
    font-size: 1.25rem;
  }
  header nav .button {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
  .logo {
    top: 0;
    width: 80%;
  }
  .logo img {
    width: 300px;
  }
  .logo p {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }
  .logo h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .scroll img {
    width: 70px;
  }
  .slide2 .slide-barbers h1 {
    font-size: 1.5rem;
  }
  .slide2 .slide-barbers .barbers {
    grid-gap: 1rem;
  }
  .slide2 .slide-barbers .barbers .barber .back-card .text p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .slide3 {
    padding-bottom: 6rem;
  }
  .slide3 .price {
    max-width: 80vw;
  }
  .slide3 .price h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .slide3 .price table th {
    font-size: 1rem;
  }
  .slide3 .price table td {
    font-size: 0.8rem;
  }
  .slide3 .price .button {
    font-size: 1rem;
  }
  .slide4 {
    position: relative;
    background-color: #252322;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
  }
  .slide4 iframe {
    height: 200px;
  }
  .slide4 .logo2 {
    width: 150px;
    margin: 1rem 0;
  }
  .slide4 .sety img {
    width: 20px;
    height: 20px;
    margin-bottom: 1rem;
  }
  .slide4 nav {
    display: none;
  }
  .slide4 .info {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ffd400;
  }
  .slide4 .info img {
    width: 20px;
    height: 20px;
    margin: 1rem;
  }
  .modal-content {
    padding: 0.2rem 0.5rem;
  }
  .modal-content .df {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  .modal-content p {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  .modal-content h1 {
    font-size: 1.2rem;
  }
  .modal-content .input {
    height: 1rem;
  }
  .modal-content .radio {
    padding-top: 0.5rem;
  }
  .modal-content .radio input + label::before {
    content: "";
    width: 1rem;
    height: 1rem;
  }
  .modal-content .close {
    top: 0.2rem;
    font-size: 3rem;
  }
  .modal-content .select {
    display: flex;
    align-items: center;
  }
  .modal-content select {
    margin-top: 0.5rem;
    padding: 0.2rem;
  }
  .modal-content select option {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0;
    width: 1rem;
  }
  .modal-content .button-modal {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 820px) {
  header nav .burger {
    padding: 0 1rem;
  }
  header nav .burger img {
    display: block;
  }
  header nav .burger ul {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    padding-top: 1rem;
  }
  header nav .burger ul li {
    padding-bottom: 0.5rem;
  }
  header nav .burger:hover ul {
    opacity: 1;
    transition: opacity 0.5s;
  }
  header nav ul {
    display: none;
  }
  .slide2 .slide-barbers .barbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .slide2 .slide-barbers .barbers .barber {
    text-align: center;
    position: relative;
  }
  .slide2 .slide-barbers .barbers .barber .card1,
  .slide2 .slide-barbers .barbers .barber .card2,
  .slide2 .slide-barbers .barbers .barber .card3,
  .slide2 .slide-barbers .barbers .barber .card4 {
    height: 35vh;
    width: 30vw;
  }
  .slide4 .sety img {
    width: 40px;
    height: 40px;
  }
  .slide4 iframe {
    height: 450px;
  }
}
@media (max-width: 600px) {
  header {
    position: relative;
  }
  header nav {
    height: 10rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  header nav .burger {
    position: absolute;
    padding: 0;
    left: 1rem;
    top: 1rem;
  }
  header nav .burger ul li a {
    font-size: 1rem;
  }
  header nav .burger:hover ul {
    display: block;
  }
  header nav .sety {
    position: absolute;
    top: 1rem;
    right: 14rem;
  }
  header nav .sety .vk {
    margin-left: 0;
  }
  header nav .button {
    position: absolute;
    top: 0.8rem;
    right: 0;
    font-size: 1rem;
    border: 2px solid #fff;
  }
  header nav .button:hover {
    border: 2px solid #ffd400;
  }
  .logo img {
    padding-top: 6rem;
  }
  .logo .del {
    display: none;
  }
  .logo p {
    font-size: 0.8rem;
  }
  .logo h1 {
    display: none;
  }
  .logo .scroll img {
    padding-top: 0;
    width: 70px;
  }
  .slide2 {
    padding: 0;
  }
  .slide2 .slide-barbers {
    width: 100%;
  }
  .slide2 .slide-barbers h1 {
    font-size: 1rem;
  }
  .slide2 .slide-barbers label {
    font-size: 0.5rem;
  }
  .slide2 .slide-barbers .barbers .barber .card1,
  .slide2 .slide-barbers .barbers .barber .card2,
  .slide2 .slide-barbers .barbers .barber .card3,
  .slide2 .slide-barbers .barbers .barber .card4 {
    height: 30vh;
    width: 35vw;
  }
  .slide2 .slide-barbers .barbers .barber .back-card .text .del {
    display: none;
  }
  .slide2 .slide-barbers .barbers .barber .back-card .text .zag {
    font-size: 1rem;
  }
  .slide2 .slide-barbers .barbers .barber .title {
    font-size: 0.8rem;
    font-family: "Rubik Dirt", cursive;
    width: 90%;
  }
  .slide2 .slide-barbers .barbers .barber .title:before {
    left: -3px;
  }
  .slide2 .slide-barbers .barbers .barber .title:after {
    right: -3px;
  }
  .slide3 .price h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .slide3 .price table {
    border: 1.5px solid #ffd400;
    margin-bottom: 1rem;
  }
  .slide3 .price table th {
    font-size: 0.6rem;
    padding: 0.5rem;
  }
  .slide3 .price table td {
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .slide3 .price .button {
    font-size: 1rem;
    border: 1.5px solid #fff;
  }
  .slide3 .price .button:hover {
    border: 1.5px solid #ffd400;
  }
  .slide4 .logo2 {
    width: 150px;
    margin-top: 0.5rem;
  }
  .slide4 .sety img {
    width: 20px;
    height: 20px;
  }
  .slide4 .info {
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #ffd400;
  }
  .slide4 .info img {
    width: 20px;
    height: 20px;
    margin: 0.5rem;
  }
  .slide4 .info p {
    font-size: 0.8rem;
  }
  .slide4 p {
    font-size: 0.5rem;
  }
  .modal-content {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 1rem;
    border-left: 0;
  }
  .modal-content .df {
    display: none;
  }
  .modal-content p {
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .modal-content h1 {
    display: none;
  }
  .modal-content .input {
    height: 1rem;
    border-bottom: 1px solid #ffd400;
  }
  .modal-content .radio {
    padding-top: 0.5rem;
  }
  .modal-content .radio input + label::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border: 1px solid #adb5bd;
  }
  .modal-content .close {
    position: absolute;
    color: #adb5bd;
    right: 1rem;
    top: 0.2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .modal-content select {
    margin-top: 0.5rem;
    padding: 0.2rem;
  }
  .modal-content .button-modal {
    font-size: 1rem;
    margin-top: 1rem;
    border: 1px solid #adb5bd;
    padding: 0.25rem 1rem;
  }
  .modal-content .button-modal:hover {
    border: 1px solid #ffd400;
  }
}/*# sourceMappingURL=style.css.map */